
<h1>Prenuvo Interview Router</h1>
<p>This is the view-container works! Use the routing button to navigate!</p>
<nav>
  <!-- <button mat-raised-button color="primary" routerLink="checkin" routerLinkActive="active">checkIn</button>
  <button mat-raised-button color="primary" routerLink="grid" routerLinkActive="active">Grid</button> -->
  <button  (click)="gridButtonClick()">Grid!</button>
  <button  (click)="checkInButtonClick()">Check-In!</button>
  <!-- <input type="button"  mat-raised-button color="primary" (click)="checkInButtonClick()">Check-In Click Me</input> -->

</nav>
<router-outlet></router-outlet>

